{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio: Christopher Fossto</title>
    <link rel="stylesheet" href="{% static 'portfolio.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Share+Tech&display=swap" rel="stylesheet">
</head>
<body>
        <div class="menu">
            <li class="menu_items">
                <ul><a href="/">Home</a></ul>
                <ul><a href="/about">About</a></ul>
                <ul><a href="/tickets">Tickets</a></ul>
            </li>
        </div>
<section class="main_wrapper"> 
    <div class="content_div">
    {% block content %}
    {% endblock content %}
    </div>
</section>
</body>
</html>