{% extends 'portfolio_base.html' %}


{% block content %}

<h1>Coding is fun.</h1>
<p>Coding and technology was, up until recently, a hobby of mine. Then, Covid ruined it all.
    I saw an opportunity to start an education and now I'm graduating from Handelsakademin @ Malmö
    as an Object Oriented Programmer with AI-specialisation. Sounds cool, right?
</p>
<p>
    Titles away, I am now an AI programmer with fullstack competence. I feel at home
    in an MEVN/LEMP-stack, but know Vue, SQL and Django as well. As you might have guessed,
    I enjoy backend work, but can handle the front-end flow as well.
</p>
<p>
    Interested? Below you will find my CV and compenteces.
</p>


{% endblock content %}