{% extends 'portfolio_base.html' %}

{% block content %}


    <div class="video"><iframe width="300" height="auto" src="https://www.youtube.com/embed/4DAbnHv6VHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <br/><br>

        <h1>Hello</h1><br/>
        <p>Welcome to my portfolio-page! Fully coded in Django, with the template system and all. The HTML and JS
            is purely vanilla, for the moment. Any dynamic element is from a Python backend. 
        </p> <br/>
        <p>
            This page has a <strong> built-in Ticket-system</strong> where you can send a Support/Coding Ticket from Your company
            and then watch me code it for you (don't be greedy..)!
        </p>


{% endblock content %}